---
layout: archive
author_profile: true
---

{% include base_path %}
Hi, I am a CS Ph.D. student under the supervision of <a href="http://www3.cs.stonybrook.edu/~mueller/" target="_blank">Prof. Klaus Mueller</a> at <a href="http://www.stonybrook.edu/" target="_blank">Stony Brook University</a>.
I received master degree in <a href="http://www.zju.edu.cn/" target="_blank">Zhejiang University</a> under the supervision of <a href="http://www.cad.zju.edu.cn/home/chenwei/" target="_blank">Prof. Wei Chen</a>.<br>
My research interest is Data Visualization and Visual Analytics.<br>
<br>Email: coxie AT cs dot stonybrook DOT com
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
